*.log
*.pot
*.pyc
__pycache__/
local_settings.py
dp/
.env
db.sqlite3
django_project/__pycache__/
notes/__pycache__/
notes/migrations/
notes/migrations/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
