.google {
	background-color: #DC4C39;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.github {
	background-color: #444444;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

.btn:hover {
    color: white;
	text-decoration: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
a {
	color: white;
}
a:hover {
    color: white;
    text-decoration: none;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
	padding: 1.25rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card {
	margin: 0 auto;
	float: none;
	margin-bottom: 10px;
	padding-top: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-header:first-child {
	border-radius: .25em;
	margin-bottom: 20px;
	box-shadow: 0 10px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.mb-3, .my-5 {
	margin-top: 7em !important;
	margin-bottom: 4em !important;
}