{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if title %}
        <title> Notes - {{ title }} </title>
    {% else %}
        <title> Notes App </title>
    {% endif %}
    {% load socialaccount %}
    <html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static '/notes/login.css' %}">
    </head>
    <body>
    <div class="card border-dark mb-3 text-center p-3 justify-content-center" style="max-width: 25rem;">
    <div class="card-header">👋 Hi there!</div>
    <div class="card-body text-dark">
        <h5 class="card-title text-center">Login With</h5>
        <button class="btn btn-block social-login google">
					<span class="social-icons">
						<i class="fab fa-google fa-lg">
						</i>
					</span>
					<span class="align-middle"><a href="{% provider_login_url 'google' %}"> Google</a></span>
				</button>
				<button class="btn btn-block social-login github">
					<span class="social-icons">
						<i class="fab fa-github fa-lg">	
                        </i> 
					</span><a href="{% provider_login_url 'github' %}"> Github</a></span>
				</button>
    </div>
    </body>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </html>
{% endblock content %}