{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if title %}
        <title> Notes - {{ title }} </title>
    {% else %}
        <title> Notes App </title>
    {% endif %}
    {% load socialaccount %}
    <html>
    <head>
        <title>Google Registration</title>
    </head>
    <body>
    {% if user.is_authenticated %}
    <p>👋, {{ user.username }} !</p>
    
    {% else %}
    <a href="{% provider_login_url 'google' %}">Google</a>
    <a href="{% provider_login_url 'github' %}">Github</a>
    {% endif %}

    </body>
    </html>
{% endblock content %}